let mapleader=" "

set number
set relativenumber
set commentary
set surround
set visualbell
set html_autoclosetag
set incsearch
set scrolloff=5
set sidescrolloff=5
set ignorecase
set hlsearch
set highlightedyank
set ideamarks


""" remap 

" paste/replace without yanking
xnoremap <leader>p "_dP
xnoremap <leader>d "_d
nnoremap <leader>d "_d

""" keep cursor in the middle while vertical moving
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz


nnoremap <leader>w <C-w>

map <leader>y "+y
""" map <leader>P "+P

""" move selected lines
vnoremap <C-j> :m'>+<CR>gv=gv
vnoremap <C-k> :m-2<CR>gv=gv

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'


""" jet brain actions

map <leader>r <Action>(RenameElement)
map <leader>l <Action>(ReformatCode)
map <leader>i <Action>(QuickJavaDoc)
map <leader>e <Action>(ShowErrorDescription)
map <leader>ff <Action>(GotoFile)
map <leader>pv <Action>(SelectInProjectView)
map <leader>en <Action>(GotoNextError)
map <leader>ep <Action>(GotoPreviousError)
""" map <leader>pv <Action>(ProjectViewEditSource)
