let mapleader=" "

set number relativenumber
set commentary
set surround
set visualbell
set html_autoclosetag
set incsearch
set scrolloff=5
set sidescrolloff=5
set ignorecase
set hlsearch

""" remap 

" paste/replace without yanking
map <leader>p "_dP

" delete without yanking
map <leader>d "_d
