let mapleader=" "

set number relativenumber
set commentary
set surround
set visualbell
set html_autoclosetag
set incsearch
set scrolloff=5
set sidescrolloff=5
set ignorecase
set hlsearch
set highlightedyank
set sneak


""" remap 

" paste/replace without yanking
map <leader>p "_dP

map <leader>d "_d
map <leader>r <Action>(RenameElement)
map <leader>l <Action>(ReformatCode)

set NERDTree

""" jet brain actions

